﻿
@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
    {
    @*<script src="~/js/Courses/Categories.js"></script>*@
    <script>
        $(document).ready(function () {
            //LoadAllCourses("tbl_index_all_categories");
            LoadAllCourses();
        });

        function LoadAllCourses() {
            apiGetCategories = apiEndpoint + "/Courses"



            $.get(apiGetCategories)
                .done(function (courses) {
                    $('#courseCatalogContainer').empty();
                    $.each(courses, function (i, course) {
                        var item = `<div class="col-md-4">
                                                    <div class="card mb-4 addborder-on-hover">
                                                        <img class="card-img-top card-image" src="//placeimg.com/290/180/any" alt="Card image cap">
                                                        <div class="card-body">
                                                            <h5 class="card-title">${course.title}</h5>
                                                            <p class="card-text">${course.description}</p>
                                                            <a href="/" class="btn btn-dark btn-sm">Go somewhere</a>
                                                        </div>
                                                    </div>
                                                </div>`;
                        $('#courseCatalogContainer').append(item);
                    });
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    swal({
                        title: "Error",
                        text: jqXHR.statusText,
                        icon: "error",
                        button: "Close",
                    });
                })

        }

    </script>
}
<h2>Catalog</h2>

<div id="courseCatalogContainer" class="container row">
    Loading..
</div>

