﻿html, body {
    height: 100%;
    width: 100%;
}

.container-lg {
    width:100%;
    max-width:100%;
}

/*footer {
    position: absolute;
    bottom: 0;
    width:100%;
    background-color: #f5f5f5;
}*/

.w-80 {
    width:80%;
}

.card.addborder-on-hover:hover {
    box-shadow: 0 0 3pt 2pt #dcebf3;
    cursor: pointer;
}

.card{
    overflow: hidden;
}
.card.addborder-on-hover:hover img{
    transform: scale(1.2,1.1);
    transition: all .1s ease-in-out;
}

.card-md {
    width:18em;
}

.border-radius-0 {
    border-radius:0;
}

.cursor-pointer {
    cursor:pointer;
}