﻿@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<a asp-controller="Categories" asp-action="Index">Back to List</a>
<h2>Create Categories </h2>
@section Scripts
    {
    <script src="~/js/Categories/Categories.js"></script>
    <script>
        $(document).ready(function () {
            clearCategory();
            loadCategory();

        })
    </script>
}
<hr />

    <div id="formCreateCategory" class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div>
                <ul id="validationSummary"></ul>
            </div>

            <div class="form-group">
                <label class="control-label">Name</label>
                <input id="Name" name="Name" class="form-control" />
            </div>

            @*Category*@
            <div class="form-group row">
                <label for="category" class="col-sm-12 col-form-label">Parent Category:&nbsp; (Select if you want to add as Subcategory)</label>
                <div class="col-sm-12">
                    <div id="category" class="dropdown">
                        <select id="ddCategory" class="form-control">
                            <option value="0" selected="selected"> Select</option>
                            <option value="1"> Category 1</option>
                            <option value="2"> Category 2</option>
                        </select>
                    </div>
                </div>
            </div>

            <input type="submit" id="formCreateCategory" onclick="CreateCategory(); return false;" value="Create" class="btn btn-primary btn-block" />
        </div>
    </div>
