﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
    {
    <script src="~/js/Categories/Categories.js"></script>
    <script>
        $(document).ready(function () {
            LoadCategoriesIntoTable("tbl_index_all_categories");
        });
    </script>
}

<div class="container">
    <h2>Categories</h2>
    <a asp-controller="Categories" asp-action="Create" type="submit" class="btn btn-info">Create Category</a>
    <br />
    <hr />
    <table id="tbl_index_all_categories" class="display" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>ParentId</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Loading..
                </td>
            </tr>
        </tbody>
    </table>

</div>

